
<h3>Admin Dashboard</h3>

<%= link_to 'All user workouts', admin_workouts_path %>
</br>
<%= link_to 'All challenges', admin_challenges_path %>
</br>
<%= link_to 'All settings', admin_settings_path %>
