
#challenge-table th {
  font-size: 14px;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}

#challenge-table td {
  color: #669;
  padding: 9px 8px 0;
}

#challenge-table tfoot tr td {
  font-weight: bold;
}
