.fb-btn {
  text-align: center;
  display: block;
  color: #FFF;
  padding: 10px 0;
  background: url(f.png) no-repeat #29ABE2;
  background-position: 15px 7px;
  box-shadow: 0 2px 0 0 #3B606D;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none !important;
}
