<div class="flash-container">
  <% if alert %>
    <div class="flash-alert">
      <%= alert %>
    </div>
  <% elsif notice %>
    <div class="flash-notice">
      <%= notice %>
    </div>
  <% end %>
</div>
